[submodule "mplx-staking"]
	path = mplx-staking
	url = git@github.com:extrnode/mplx-staking.git
[submodule "solana-program-library"]
	path = solana-program-library
	url = git@github.com:austbot/solana-program-library.git
[submodule "mpl-token-auth-rules"]
	path = mpl-token-auth-rules
	url = git@github.com:n00m4d/mpl-token-auth-rules.git
